nginx-proxy:
  image: "nginx:1.9"
  ports:
    - 443:443
  links:
{%- for tenant in tenants -%}
    - {{tenant.name}}-registry:{{tenant.name}}-registry
{% endfor %}
  volumes:
{%- for tenant in tenants -%}
    - {{root_path}}/mt-reg-configs/{{tenant.name}}:/etc/nginx/conf.d
{% endfor %}

{%- for tenant in tenants -%}
{{tenant.name}}-registry:
  image: registry:2
  ports:
    - 127.0.0.1:{{tenant.port}}:5000
  environment:
    REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
  volumes:
    - {{root_path}}/mt-reg-configs/{{tenant.name}}:/data
{% endfor %}

