nginxproxy:
  image: nginx:1.9
  ports:
    - 443:443
  links:
{%- for tenant in tenants %}
    - {{tenant}}registry:{{tenant}}registry
{%- endfor %}
  volumes:
    - {{root_path}}/config:/etc/nginx/conf.d
    - {{root_path}}/auth:/etc/nginx/auth

{% for tenant in tenants %}
{{tenant}}registry:
  image: registry:2
  environment:
    REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
  volumes:
    - {{root_path}}/registries/{{tenant}}:/data
{% endfor %}

